.main{
    display: flex;
    flex-direction: column;
}
.smallDiv{
    display: flex;
    align-items: center;
    margin-left: 10rem;
    gap:1rem
}
.edit{
    border: 1px solid gray;
   color: gray;
   padding:0rem 1rem 0rem;
}
.add{
    border: 1px solid gray;
   color: #98B5F1; 
   display: flex;
   justify-content:center ;
   align-items: center;
   padding:0rem 0.2rem 0rem;
   gap:2px;
   cursor:pointer;
}
.new{
    color:#2D3C51;
}
.divwrap{
display: flex;
align-items: center;
gap:15rem
}
.mainSpan{
    width: 33rem;
    margin-left: 10rem;
    color:#93989E;
    background-color: white;
}
.tution{
    border: 1px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.money{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.para{
    display: flex;
    align-items: center;
    margin-left: 10rem;
    gap:1rem;
}
.download{
    color:#4C6BBD;
    font-size: large;
}
.inps{
    margin-left: 10rem;
    
    }
    input{
        padding: 1rem;
        width: 13rem;
    }
    .your{
        display: flex;
      gap:21rem;
        margin-left: 11rem;
        font-size: 12px;
        padding: 0.3rem;
        color:#CCCDCF
    }
    .delete :hover{
     cursor: pointer;
    }